<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<dict>
		<key>YCIMenuTypeLetterIndexTable</key>
		<dict>
			<key>optionClassName</key>
			<string>YCIMenuLetterIndexOption</string>
			<key>menuClassName</key>
			<string>YCILetterIndexTable</string>
			<key>cellClassName</key>
			<string>YCIMenuDefaultTableCell</string>
			<key>autoBackgroundColor</key>
			<false/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<true/>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
		<key>YCIMenuTypeDefault</key>
		<dict>
			<key>optionClassName</key>
			<string>YCIMenuOption</string>
			<key>menuClassName</key>
			<string>YCIMenuDefaultTable</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<false/>
			<key>cellClassName</key>
			<string>YCIMenuDefaultTableCell</string>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
		<key>YCIMenuTypeDefaultRequest</key>
		<dict>
			<key>optionClassName</key>
			<string>YCIMenuOption</string>
			<key>menuClassName</key>
			<string>YCIMenuDefaultTable</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<true/>
			<key>canShowDetail</key>
			<false/>
			<key>cellClassName</key>
			<string>YCIMenuDefaultTableCell</string>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
		<key>YCIMenuTypeDateRange</key>
		<dict>
			<key>optionClassName</key>
			<string>YCIMenuDateRangeOption</string>
			<key>menuClassName</key>
			<string>YCIDateRangePicker</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<true/>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
		<key>YCIMenuTypeMutiSelectTable</key>
		<dict>
			<key>optionClassName</key>
			<string>YCIMutiSelectOption</string>
			<key>menuClassName</key>
			<string>YCIMutiSelectTable</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<true/>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
	</dict>
	<key>iPad</key>
	<dict>
		<key>YCIMenuTypeDefault</key>
		<dict>
			<key>menuClassName</key>
			<string>YCIMenuDefaultTable</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<false/>
			<key>cellClassName</key>
			<string>YCIMenuDefaultTableCell</string>
			<key>cellHeight</key>
			<integer>50</integer>
		</dict>
		<key>YCIMenuTypeDefaultRequest</key>
		<dict>
			<key>menuClassName</key>
			<string>YCIMenuDefaultTable</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<true/>
			<key>canShowDetail</key>
			<false/>
			<key>cellClassName</key>
			<string>YCIMenuDefaultTableCell</string>
			<key>cellHeight</key>
			<integer>50</integer>
		</dict>
		<key>YCIMenuTypeDateRange</key>
		<dict>
			<key>menuClassName</key>
			<string>YCIDateRangePicker</string>
			<key>autoBackgroundColor</key>
			<true/>
			<key>showLoading</key>
			<false/>
			<key>canShowDetail</key>
			<true/>
			<key>cellHeight</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>
